<div>
    <h3>Editar Estado</h3>
  </div>
  <form class="example-container" [formGroup]="estadoForm" (ngSubmit)="updateEstado(estadoForm.value)">
    <mat-form-field>
      <input matInput name="nome" placeholder="Nome do Estado" formControlName="nome">
    </mat-form-field>

    <button type="submit" [disabled]="!estadoForm.valid" mat-button color="primary" >Editar</button>
  </form>