<div>
    <h3>Adicionar Novo Cliente</h3>
  </div>
  <form class="example-container" [formGroup]="clienteForm" (ngSubmit)="addCliente(clienteForm.value)">
    
    <mat-form-field>
      <input matInput name="nome" placeholder="Nome do Cliente" formControlName="nome">
    </mat-form-field>

    <br/>
    <mat-form-field>
        <input matInput name="email" placeholder="Email" formControlName="email">
     </mat-form-field>

     <br/>
     <mat-form-field>
       <input matInput name="cpfCnpj" placeholder="CPF ou CNPJ" formControlName="cpfCnpj">
     </mat-form-field>

     <br/>
     <mat-form-field>
        <input matInput name="tipoCliente" placeholder="Tipo Cliente" formControlName="tipoCliente">
      </mat-form-field>

      <br/>
      <mat-form-field>
        <input matInput name="dataNascimento" placeholder="Data de Nascimento" formControlName="dataNascimento">
      </mat-form-field>

      <br/>
      <mat-form-field>
        <input matInput name="endereco" placeholder="Endereco" formControlName="endereco">
      </mat-form-field>
  
    <br/>
    <button type="submit" [disabled]="!clienteForm.valid" mat-button color="primary" >Adicionar</button>
  </form>