<div>
    <h3>Lista de Cidades</h3>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome da Cidade </th>
      <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
    </ng-container>
    
    <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> Nome do Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.estado.nome}} </td>
      </ng-container> 

    <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element"> <button mat-flat-button color="accent" routerLink="/cidade-detalhe/{{element.id}}" selected>Detalhe</button></td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  