<div>
    <h3>Adicionar Nova Cidade</h3>
  </div>
  <form class="example-container" [formGroup]="cidadeForm" (ngSubmit)="addCidade(cidadeForm.value)">
  
    <mat-form-field>
      <input matInput name="nome" placeholder="Nome da Cidade" formControlName="nome">
    </mat-form-field>
  
    <br/>
    <mat-form-field>
       <input matInput name="idEstado" placeholder="ID Estado" formControlName="idEstado">
    </mat-form-field>
    
    <br/>
    <button type="submit" [disabled]="!cidadeForm.valid" mat-button color="primary" >Adicionar</button>
  </form>