<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/clientes" routerLinkActive="active">Clientes</a>
      <a mat-list-item routerLink="/cliente-novo" routerLinkActive="active">Novo Cliente</a>
    </mat-nav-list>
    <br/>
    <mat-nav-list>
      <a mat-list-item routerLink="/cidades" routerLinkActive="active">Cidades</a>
      <a mat-list-item routerLink="/cidade-novo" routerLinkActive="active">Nova Cidade</a>
    </mat-nav-list>
    <br/>
    <mat-nav-list>
      <a mat-list-item routerLink="/estados" routerLinkActive="active">Estados</a>
      <a mat-list-item routerLink="/estado-novo" routerLinkActive="active">Novo Estado</a>
    </mat-nav-list>
  
    
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Projeto TTY - Caio Abreu de Azevedo</span>
    </mat-toolbar>
    <div class="container">
   <router-outlet></router-outlet>
  </div>
  </mat-sidenav-content>
</mat-sidenav-container>