<div>
    <h3>Adicionar Novo Estado</h3>
  </div>
  <form class="example-container" [formGroup]="estadoForm" (ngSubmit)="addEstado(estadoForm.value)">
    <mat-form-field>
      <input matInput name="nome" placeholder="Nome do Estado" formControlName="nome">
    </mat-form-field>
  
    <button type="submit" [disabled]="!estadoForm.valid" mat-button color="primary" >Adicionar</button>
  </form>