<div>
    <h3>Lista de Clientes</h3>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
    </ng-container> 

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container> 

      <ng-container matColumnDef="cpfCnpj">
        <th mat-header-cell *matHeaderCellDef> CPF ou CNPJ </th>
        <td mat-cell *matCellDef="let element"> {{element.cpfCnpj}} </td>
      </ng-container> 

      <ng-container matColumnDef="tipoCliente">
        <th mat-header-cell *matHeaderCellDef> Tipo de Cliente </th>
        <td mat-cell *matCellDef="let element"> {{element.tipoCliente}} </td>
      </ng-container> 

      <ng-container matColumnDef="dataNascimento">
        <th mat-header-cell *matHeaderCellDef> Data de Nascimento </th>
        <td mat-cell *matCellDef="let element"> {{element.dataNascimento}} </td>
      </ng-container> 

     
    <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element"> <button mat-flat-button color="accent" routerLink="/cliente-detalhe/{{element.id}}" selected>Detalhes e Endereços</button></td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  